* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body,
html {
    width: 100%;
    height: 100vh;
}

.container {
    width: 80%;
    margin: 10px auto;
    border: 1px solid gray;
}

.tabs-ctr {
    background-color: #f1f1f1;
    display: flex;
    border-bottom: 1px solid gray;
}

.tab {
    padding: 15px;
    font-weight: 500;
}

.tab:hover {
    cursor: pointer;
    background-color: darkgray;
}

.tab-active {
    background-color: darkgray;
}

.content-ctr {
    margin: 25px 15px;
    display: none;
}

.content-ctr>p {
    font-weight: 700;
    padding-bottom: 15px;
}

.content-active {
    display: block;
}